.choiceCards {
    height: 100px;
    width: 80vw;
    background-color: pink;
    display: flex;
    justify-content: space-between;
}

#leftSide{
    height: 100px;
    width: 200px;
    background-color: turquoise;
}

#rightSide{
    height: 100px;
    width: 200px;
    background-color: yellow;
}