.choiceCards {
    height: 100px;
    width: 80vw;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
}

.leftAndRightStyles{
    height: 100px;
    width: 200px;
    border: 1px dashed black;
}

